.container{
    background-color: rgb(134, 134, 134);
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat(3,auto);
    gap: 3px;
}
header{
    background-color: rgb(187, 88, 88);
    height: 200px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;
}
main{
    background-color: rgb(134, 134, 134);
    height: 250px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
}
main h1{
    color: blueviolet;
}
footer{
    display: grid;
    grid-template-columns: repeat(3,100%);
    grid-template-rows: repeat(1,auto);
    gap: 1px;
}
.left-footer{
    background-color: brown;
    height: 200px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
}
.center-footer{
    background-color: chartreuse;
    height: 200px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
}
.right-footer{
    background-color: chocolate;
    height: 200px;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
}
img{
    height: 200px;
    margin-top: 10px;
}
header h1{
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
}
